{% extends 'users/profile.html' %}

{% block page %}
    <p class="title-h1">My Account</p>
    <div class="border-purple-300 border-solid border-b-2 flex justify-between">
        <span class="p-2 text-purple-500">Username </span>
        <span class="p-2">{{ request.user }}</span>
    </div>
    <div class="border-purple-300 border-solid border-b-2 flex justify-between">
        <span class="p-2 text-purple-500">Name</span>
        <span class="p-2">{{ request.user.first_name }} {{ request.user.last_name }}</span>
    </div>
    <div class="border-purple-300 border-solid border-b-2 flex justify-between">
        <span class="p-2 text-purple-500">Email address</span>
        <span class="p-2">{{ request.user.email }}</span>
    </div>
    <div class="border-purple-300 border-solid border-b-2 flex justify-between">
        <span class="p-2 text-purple-500">Mobile number</span>
        <span class="p-2">+{{ request.user.customer.mobile }}</span>
    </div>
    <div class="mt-5 mx-auto">
        <button class="purple-btn">Edit info</button>
    </div>
{% endblock %}