{% extends 'users/profile.html' %}

{% block page %}
    <p class="title-h1">Address</p>
    <div class="border-purple-300 border-solid border-b-2 flex justify-between">
        <span class="p-2 text-purple-500">Country </span>
        <span class="p-2">{{ request.user.customer.country }}</span>
    </div>
    <div class="border-purple-300 border-solid border-b-2 flex justify-between">
        <span class="p-2 text-purple-500">City</span>
        <span class="p-2">{{ request.user.customer.city }}</span>
    </div>
    <div class="border-purple-300 border-solid border-b-2 flex justify-between">
        <span class="p-2 text-purple-500">Street</span>
        <span class="p-2">{{ request.user.customer.address }}</span>
    </div>
    <div class="mt-5 mx-auto">
        <button class="purple-btn">Edit info</button>
    </div>
{% endblock %}