{% extends 'users/profile.html' %} {% block page %}
<p class="title-h1">Change Password</p>

<form method="POST" class="mt-2">
  {% csrf_token %}

  <input
    name="newPassword1"
    type="password"
    placeholder="New Password"
    required
  />
  <input
    name="newPassword2"
    type="password"
    placeholder="Confirm New Password"
    required
  />

  {% for message in messages %}
  <p class="{{ message.tags }}">{{ message }}</p>
  {% endfor %}

  <input type="submit" value="Change Password" class="green-btn" />
</form>

{% endblock %}
