{% extends 'users/profile.html' %} {% block page %}
<p class="title-h1 text-red-400">Delete Account</p>
<p>
  This action is irreversible and will delete all your data from the database.
</p>
<form
  method="POST"
  class="mt-2"
  onsubmit='return confirm("Are you sure you want to delete your account?");'
>
  {% csrf_token %}

  <input name="password1" type="password" placeholder="Password" required />
  <input
    name="password2"
    type="password"
    placeholder="Confirm password"
    required
  />

  {% for message in messages %}
  <p class="{{ message.tags }}">{{ message }}</p>
  {% endfor %}

  <input
    type="submit"
    value="Delete Account"
    class="green-btn bg-red-400 hover:bg-red-500"
  />
</form>

{% endblock %}
