{% extends 'users/profile.html' %}
{% load myfilters %}
{% block title %}My Orders{% endblock title %}
{% block page %}
<div class="bg-white flex flex-col">
  <p class="title-h1">My Orders</p>

  <div class="grid gap-3 rounded bg-white my-2">
    {% for order in page_obj %}
    <div>
      <div class="text-white bg-purple-500 rounded-t-md py-1 px-2">
        Order #{{order.id}}
      </div>
      <div class="flex flex-col rounded-b-md bg-purple-100 py-1 px-2">
        <div class="flex justify-between">
          <span>Placed on: {{order.date_placed}}</span>
          <span>Status: {{order.get_status_text}}</span>
        </div>
        <span class="font-semibold self-end">Total: ${{order.total}}</span>
        <a href="{% url 'users:order-details' order.id %}" class="self-end"
          >Check Details »</a
        >
      </div>
    </div>
    {%endfor %}
  </div>

  <div class="text-center col-start-2 col-span-5">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">
          <i class="fas fa-chevron-left"></i>
        </a>
      {% else %}
        <a>
          <i class="fas fa-chevron-left"></i>
        </a>
      {% endif %}

      {% for page_index in page_obj.paginator.page_range %}
        {% if page_index <= page_obj.number|add:2 and page_index >= page_obj.number|add:-2 %}
          {% if page_obj.number == page_index %}
          <a class="step-active">{{ page_index }}</a>
          {% else %}
          <a href="?page={{ page_index }}">{{ page_index }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">
          <i class="fas fa-chevron-right"></i>
        </a>
      {%else %}
        <a>
          <i class="fas fa-chevron-right"></i>
        </a>
      {% endif %}
    </span>
</div>
</div>
{% endblock page %}
