{% extends "base.html" %}
{% load myfilters %}
{% block title %}Login{% endblock title %}

{% block content %}
<form method="POST" class="user-form">
  {% csrf_token %}
  <p class="title-h1 mb-4">Login</p>

  <input
    type="text"
    name="username"
    placeholder="Username"
   />
  
  <input
    type="password"
    name="password"
    placeholder="***************"
  />

  <input type="submit" name="Login" class="purple-btn w-full" />

  <div>
    <span>Don't have an account yet? </span
    ><a
      href="{% url 'users:register' %}"
      class="text-purple-400 font-bold"
      >Register now</a
    >
  </div>
  {% for message in messages %}
    <p id="{{ message }}">{{ message }}</p>
  {% endfor %}
</form>
{% endblock content %}
