{% extends 'base.html' %}
{% load myfilters %}
{% load products.productfilters %}
{% block title %}My Orders{% endblock title %}

{% block content %}
<div class="flex flex-col self-center rounded-lg p-5 w-6/12 mt-4 bg-white">
  <div class="title-h1 px-2">Order #{{data.order}} </div>
  <div class="mt-2 px-2">Placed on: {{data.order.date_placed}} </div>
  <div class="flex justify-between">
    {% for status in data.order.get_status_choices %}
      {% if status.0 <= data.order.status %}
        <div class="stepper-item completed">
          <div class="step-counter">✓</div>
          <div class="step-name">{{status.1}}</div>
        </div>
      {% else %}
        <div class="stepper-item">
          <div class="step-counter"></div>
          <div class="step-name">{{status.1}}</div>
        </div>
      {% endif %}
    {% endfor %}
</div>
  <table class="table-fixed w-full rounded-lg">
        <thead class="border-b text-left">
          <tr>
            <th class="w-8/12 py-2 pl-4">Product</th>
            <th class="w-4/12 py-2">Quantity</th>
            <th class="w-4/12 py-2">Price</th>
            <th class="w-4/12 py-2">Total Price</th>
          </tr>
        </thead>
        <tbody class="border-b">
          {%for item in data.items %}
          <tr>
            <td class="mx-auto">
              <a href="/home/browse/product/{{key}}">
                <img src="{{ item.product.image.url|formaturl }}" class="w-28 inline-block" />
                <span> {{ item.product.name }} </span>
              </a>
            </td>
            <td><span>x{{ item.quantity }}</span></td>
            <td><span>${{item.product.price}}</span></td>
            <td><span>${% widthratio item.product.price 1 item.quantity %}</span></td>
            {% endfor %}
          </tr>
        </tbody>
      </table>





  {% comment %} <div class="table-auto justify-between text-black rounded-md p-2 m-2">
    {%for item in data.items %}
    <div class="flex justify-between rounded-lg bg-white">
      {{ item.product.name }}<br>
      <img src="{{ item.product.image.url|formaturl }}" class="w-8">
      ${{ item.product.price }}<br>
      x{{ item.quantity }}<br><br>
    </div>
    {%endfor %} 

  </div> {% endcomment %}
  <div class="self-end">
    Total: ${{data.order.total}}
  </div>
</div>
{% endblock content %}
