{% extends "base.html" %}
{% block title %}Register Account{% endblock title %}

{% block content %}
<div class="pb-2">
  <div class="user-form-wrapper">
    <form method="POST" class="user-form">
      {% csrf_token %}
      <p class="title-h1 mb-2">Register account</p>
      <p class="text-lg text-color mb-4">
        Get started and create your free account now
      </p>

      {{ user_form.username }}
      {{ user_form.email }}
      
      {{ user_form.first_name }}
      {{ user_form.last_name }}
      
      {{ customer_form.country }}
      {{ customer_form.city }}
      {{ customer_form.address }}
      {{ customer_form.mobile }}
      
      {{ user_form.password1 }}
      {{ user_form.password2 }}

      <input type="submit" value="Register Account" class="purple-btn w-full" />

      <div class="mt-4">
        <span>Already have an account?</span>
        <a href="{% url 'users:login' %}" class="text-color font-bold">Login</a>
      </div>

      {% for field, errors in user_form.errors.items %}
        <div class="text-red-500">{{errors.0}}</div>
      {% endfor %}
      
      {% for field, errors in customer_fom.errors.items %}
        <div class="text-red-500">{{errors.0}}</div>
      {% endfor %}
    </form>
  </div>
</div>
{% endblock content %}
