{% load static %} {% load products.productfilters %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/tailwind-output.css' %}" />
    <link
      href="{% static 'fontawesome_free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <title>{% block title %} {% endblock %} | PyCommercial</title>
    {% block extrahead %} {% endblock %}
  </head>

  <body class="secondary-bg-color">
    <div
      class="min-h-screen secondary-bg-color"
      style="min-height: calc(100vh - (72px))"
    >
      {% include 'navbar.html' %}

      <!-- Main Content -->
      {% block content %} {% endblock content %}
    </div>

    <footer>
      <span>© 2021 PyCommercial. All rights reserved.</span>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
