{% load static %} {% load products.productfilters %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/tailwind-output.css' %}" />
    <link
      href="{% static 'fontawesome_free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <title>{% block title %} {% endblock %} | PyCommercial</title>
    {% block extrahead %} {% endblock %}
  </head>

  <body>
    <div
      class="flex flex-col bg-purple-200"
      style="min-height: calc(100vh - (72px))"
    >
      <nav
        class="
          flex
          justify-between
          flex-wrap
          bg-purple-500
          p-6
          filter
          drop-shadow-lg
        "
      >
        <div class="flex items-center flex-shrink-0 text-white ml-4 mr-20">
          <span class="font-semibold text-2xl tracking-tight"
            ><a href="{% url 'products:home' %}">PyCommercial</a></span
          >
        </div>
        <div class="hidden">
          <button
            class="
              flex
              items-center
              px-3
              py-2
              border
              rounded
              text-teal-200
              border-teal-400
              hover:text-white hover:border-white
            "
          >
            <svg
              class="fill-current h-3 w-3"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Menu</title>
            </svg>
          </button>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
          <div class="lg:flex-grow">
            <a href="{% url 'products:browse' %}" class="navbar-menu">Browse</a>
            <a href="#" class="navbar-menu">Stores</a>
            <a href="#" class="navbar-menu">About Us</a>
          </div>
          <div>
            <a
              href="#"
              id="dropbtncart"
              class="navbar-menu px-4 py-2"
              onclick="openMenu(this.id)"
            >
              <span class="relative inline-block">
                <span
                  id="badge-count"
                  class="
                    cart-badge
                    {%
                    if
                    not
                    request.session.cartdata
                    %}
                    hidden
                    {%
                    endif
                    %}
                  "
                  >{{request.session.totalitems}}</span
                >
                <i class="fas fa-shopping-cart"></i>
              </span>
              <span class="pl-1">Cart</span>
            </a>
            <div id="cartDropDown" class="hidden cart-dropdown">
              <div id="cartItems" class="overflow-y-auto max-h-52">
                {% for key, value in request.session.cartdata.items %}
                <div id="cart-{{key}}" class="cart-item-container">
                  <a
                    href="/home/browse/product/{{key}}"
                    class="grid grid-flow-col auto-cols-max w-40 my-auto"
                  >
                    <img src="{{ value.img_url }}" class="w-16 my-auto" />
                    <span class="break-words w-24 pl-2 pr-2 my-auto">
                      {{ value.name }}
                    </span>
                  </a>
                  <span id="cart-qty-{{key}}" class="w-6 my-auto"
                    >x{{ value.qty }}</span
                  >
                  <span id="cart-price-{{key}}" class="w-16 font-bold my-auto"
                    >${{ value.total|floatformat:2 }}</span
                  >
                  <button
                    id="remove-{{key}}"
                    onclick="removeFromCart(this.id)"
                    class="remove-btn"
                  >
                    X
                  </button>
                </div>
                {% endfor %}
              </div>
              <div id="cart-summary">
                <span id="cart-total">
                  {% if request.session.totalprice > 0 %} Total price:
                  ${{request.session.totalprice|floatformat:2}} {% else %} Your
                  cart is empty. {% endif %}
                </span>
                <a
                  href="{% url 'products:checkout' %}"
                  class="purple-btn py-1 my-auto"
                  >Checkout</a
                >
              </div>
            </div>
            {% if request.user.is_authenticated %}
            <div class="inline-block px-4 leading-none">
              <button
                id="dropbtn"
                onclick="openMenu(this.id)"
                class="
                  inline-block
                  leading-none
                  text-white
                  mt-4
                  lg:mt-0
                  focus:outline-none
                "
              >
                <i class="fas fa-user-circle"></i>
                <span class="pl-1">{{ request.user }}</span>
              </button>
              <div id="accountDropDown" class="hidden account-dropdown">
                <a
                  href="{% url 'users:profile' %}"
                  class="navbar-menu py-2 px-4"
                >
                  Account </a
                ><br />
                <a href="#" class="navbar-menu py-2 px-4"> Settings </a><br />
                <a
                  href="{% url 'users:logout' %}"
                  class="navbar-menu py-2 px-4"
                >
                  Logout
                </a>
              </div>
            </div>
            {% else %}
            <a href="{% url 'users:login' %}" class="navbar-menu pr-4 pl-2">
              <i class="fas fa-sign-in-alt"></i>
              <span class="pl-1">Login</span>
            </a>
            {% endif %}
          </div>
        </div>
      </nav>
      <div class="flex flex-col bg-purple-200">
        {% block content %} {% endblock content %}
      </div>
    </div>
    <footer class="footer-container mt-0">
      <span>© 2021 PyCommercial. All rights reserved.</span>
      <span>Created by Richard Szabo</span>
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
