{% extends "base.html" %}
{% load products.productfilters %}
{% load static %}
{% block title %}Products{% endblock title %}

{% block content %}
<div id="browse-page">
  <div id="browse-page-content">
    <form method="GET" class="py-3">
      <div id="filters" class="bg-white rounded-lg mx-2 tablet:mr-0 px-5 py-4 h-full">
        <!-- Search -->
        <div>
          <p>Search</p>
          <div>
            <input
              type="text"
              placeholder="Search for products..."
              name="search"
              value="{{ request.GET.search }}"
              class="
                py-1
                px-4
                text-sm
              "
            />
          </div>
        </div>

        <!-- Categories -->
        <div id="categories-filter" class="hidden landscapetablet:block">
          <p>Categories</p>
          <div id="category-selection">
            {% for category in main_categories %}
              {% include "products/categoryTree.html" %}
            {% endfor %}
          </div>
        </div>

        <!-- Price -->
        <div id="price-filter" class="hidden landscapetablet:block">
          <p>Price</p>
          <div>
            <label for="number">Max Price</label>
            <input
              type="number"
              name="maxPrice"
              min="0"
              max="{{max_price}}"
            />
          </div>
        </div>

        <!-- Show/hide filters on mobile -->
        <a id="show-filters" class="purple-btn landscapetablet:hidden mb-4">Show filters</a>

        <!-- Submit button -->
        <input
          type="submit"
          class="purple-btn"
          value="Search"
        />
      </div>
    </form>

    <div class="grid phone:grid-cols-2  desktop:grid-cols-4 grid-rows-2 gap-3 m-3">
      {% for product in page %}
        <div id="product-{{ product.id }}" class="flex flex-col bg-white rounded-lg p-3">
          <a href="{% url 'products:details' product.id %}" class="flex h-48 justify-center">
            <img src="{{ product.image.url|formaturl }}" class="max-h-48 self-center"/>
          </a>
          <p class="title-h1">${{ product.price }}</p>
          <div class="text-color text-lg font-semibold mb-2">
            <a
              href="{% url 'products:details' product.id %}"
              class="block h-6 truncate"
              >{{ product.name }}</a
            >
            <span class="text-xs">
            {% with rating=product.get_avg_rating %}
              {% include "products/ratingTemplate.html" %}
            {% endwith %}
            </span>
          </div>
          <p class="text-xs text-gray-600 mb-3 h-12 overflow-ellipsis overflow-hidden">
            {{ product.description }}
          </p>

          <button id="{{ product.id }}" onClick="addProduct(this.id)" class="purple-btn mb-2">
            <i class="fas fa-shopping-cart"></i>
            <span class="ml-1">Add to cart</span>
          </button>
          
        </div>
      {% empty %}
        <div class="bg-white rounded-lg p-3 col-span-5 grid row-span-3">No products match your query.</div>
      {% endfor %}
    </div>
  </div>

  <div class="text-center">
    {% with page=page %}
      {% include "paginator.html" %}
    {% endwith %}
  </div>
</div>
{% endblock content %}

{% block javascript %}
  <script src="{% static 'js/browserFilters.js' %}"></script>
{% endblock javascript %}
