{% extends "base.html" %}
{% load products.productfilters %}
{% load static %}
{% block title %}Products{% endblock title %}

{% block content %}
<div class="grid bg-purple-200">
  <form method="GET" class="bg-white px-5 pt-5">
    <div>
      <p class="text-purple-500 font-semibold text-2xl">Filtering</p>
    </div>
    <div id="filters">
      <!-- Search -->
      <div>
        <p>Search</p>
        <div>
          <input
            type="text"
            placeholder="Search for products..."
            name="search"
            value="{{ request.GET.search }}"
            class="
              py-1
              px-4
              rounded
              w-full
              border-2
              text-sm
              focus:outline-none focus:ring focus:ring-purple-400
            "
          />
        </div>
      </div>

      <!-- Categories -->
      <div>
        <p>Categories</p>
        <div id="category-selection">
          {% for category in main_categories %}
            {% include "products/tree_view_template.html" %}
          {% endfor %}
        </div>
      </div>

      <!-- Price -->
      <div>
        <p>Price</p>
        <div>
          <label for="number">Max Price</label>
          <input
            type="number"
            name="maxPrice"
            min="0"
            max="{{max_price}}"
            class="border-2"
          />
        </div>
      </div>

      <!-- Reviews -->
      <div>
        <p>Reviews</p>
        <div>
          <!-- Filtering by reviews -->
        </div>
      </div>

      <!-- Submit button -->
      <input
        type="submit"
        class="purple-btn cursor-pointer"
        value="Apply filters"
      />
    </div>
  </form>
  <div class="grid md:grid-cols-2 xl:grid-cols-4 grid-rows-2 mx-3 col-span-5">
    {% if not page_obj %}
    <div class="grid col-span-4 bg-white m-3 rounded-lg p-3">
      No products match your query.
    </div>
    {% endif %}
    {% for product in page_obj %}
      <div
        id="product-{{ product.id }}"
        class="flex flex-col bg-white m-3 rounded-lg p-3"
      >
        <a
          href="{% url 'products:details' product.id %}"
          class="flex h-48 justify-center"
        >
          <img
            src="{{ product.image.url|formaturl }}"
            alt="img-{{product.id}}"
            class="max-h-48 self-center justify-self-center"
          />
        </a>
        <div class="title-h1">${{ product.price }}</div>
        <div class="text-purple-500 text-lg font-semibold mb-2">
          <a
            href="{% url 'products:details' product.id %}"
            class="block h-6 truncate"
            >{{ product.name }}</a
          >
          {% with product=product %}
            <span class="text-xs">{% include "products/ratingTemplate.html" %}</span>
          {% endwith %}
        </div>
        <div class="text-xs text-gray-600 mb-3 h-12">
          {{ product.description|truncatetext:100 }}
        </div>
        <input
          type="hidden"
          id="{{product.id}}-name"
          value="{{product.name}}"
        />
        <input
          type="hidden"
          id="{{product.id}}-img-url"
          value="{{product.image.url|formaturl}}"
        />
        <input
          type="hidden"
          id="{{product.id}}-price"
          value="{{product.price}}"
        />

        <button
          id="{{ product.id }}"
          onClick="addToCart(this.id)"
          class="purple-btn mb-2"
        ><i class="fas fa-shopping-cart"></i>
          <span class="ml-1">Add to cart</span>
        </button>
        
      </div>
    {% endfor %}
  </div>
  <div class="text-center col-start-2 col-span-5">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}&{{query_string}}">
          <i class="fas fa-chevron-left"></i>
        </a>
      {% else %}
        <a>
          <i class="fas fa-chevron-left"></i>
        </a>
      {% endif %}
      
      {% for page_index in page_obj.paginator.page_range %}
        {% if page_index <= page_obj.number|add:2 and page_index >= page_obj.number|add:-2 %}
          {% if page_obj.number == page_index %}
            <a class="step-active">{{ page_index }}</a>
          {% else %}
            <a href="?page={{ page_index }}&{{query_string}}">{{ page_index }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&{{query_string}}">
          <i class="fas fa-chevron-right"></i>
        </a>
      {% else %}
        <a>
          <i class="fas fa-chevron-right"></i>
        </a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock content %} {% block javascript %}
<script src="{% static 'js/browserFilters.js' %}"></script>
{% endblock javascript %}
