<div class="checkout-summary">
  <!-- Cart items -->
  <div class="cart-items overflow-y-auto max-h-96">
    {% for id, item in request.session.cartdata.items %}
      <div id="cart-{{id}}" class="cart-item-container">
        <a href="/home/browse/product/{{id}}" class="grid grid-flow-col auto-cols-max w-40">
          <div class="w-16">
            <img src="{{ item.img_url }}" class="max-h-12 mx-auto" />
          </div>
          <span class="break-words w-24 px-2 my-auto">{{ item.name }}</span>
        </a>
        <span id="cart-qty-{{id}}" class="w-6 my-auto">x{{ item.qty }}</span>
        <span id="cart-price-{{id}}" class="w-16 font-bold my-auto">${{ item.total }}</span>
        <button id="remove-{{id}}" onclick="removeProduct(this.id)" class="remove-btn">X</button>
      </div>
    {% endfor %}
  </div>

  <!-- Cart total -->
  <div class="cart-summary">
    <span class="checkout-total">
      {% if request.session.totalprice > 0 %}
        Total price: ${{ request.session.totalprice }} 
      {% else %}
        Your cart is empty.
      {% endif %}
    </span>
    <a href="{% url 'products:checkout' %}"
        class="checkout-btn purple-btn {% if not request.session.totalprice > 0 %}hidden{% endif %}">
        Checkout
    </a>
  </div>
</div>