{% extends "base.html" %}
{% load static %}
{% block title %}Checkout{% endblock title %}

{% block content %}
<div class="mt-4 pb-4 flex flex-col landscapetablet:flex-row w-11/12 laptop:w-full justify-center mx-auto text-sm tablet:text-base">
  <!-- Order Form -->
  <div class="bg-white rounded-b-lg landscapetablet:rounded-l-lg p-6 order-last landscapetablet:order-first">
    <p class="title-h1">Order details</p>
    <form method="POST">
      {% csrf_token %}

      <p class="font-semibold">Customer info</p>
      <div class="mx-4">
        <label>First name</label>
        <div class="text-red-500">{{ order_form.first_name.errors.0 }}</div>
        {{ order_form.first_name }}

        <label>Last name</label>
        <div class="text-red-500">{{ order_form.last_name.errors.0 }}</div>
        {{ order_form.last_name }}

        <label>Email</label>
        <div class="text-red-500">{{ order_form.email.errors.0 }}</div>
        {{ order_form.email }}

        <label>Mobile</label>
        <div class="text-red-500">{{ order_form.mobile.errors.0 }}</div>
        {{ order_form.mobile }}
      </div>

      <p class="font-semibold">Delivery info</p>

      <div class="mx-4">
        <label>Country</label>
        <div class="text-red-500">{{ order_form.country.errors.0 }}</div>
        {{ order_form.country }}

        <label>City</label>
        <div class="text-red-500">{{ order_form.citu.errors.0 }}</div>
        {{ order_form.city }}

        <label>Address</label>
        <div class="text-red-500">{{ order_form.address.errors.0 }}</div>
        {{ order_form.address }}
      </div>

      <p class="font-semibold">Payment info</p>
      <div class="mx-4">
        <label>Name on card</label>
        <div class="text-red-500">{{order_form.name.errors.0 }}</div>
        {{ order_form.name }}

        <label>Credit Card Number</label>
        <div class="text-red-500">{{order_form.number.errors.0 }}</div>
        {{ order_form.number }}

        <label>Expiry Date</label>
        <div class="text-red-500">{{order_form.expiry_date.errors.0 }}</div>
        {{ order_form.expiry_date }}

        <label>Security code</label>
        <div class="text-red-500">{{order_form.security_code.errors.0 }}</div>
        {{ order_form.security_code }}
      </div>

      <div class="w-full flex justify-center px-2">
        <button id="complete-purchase" type="submit" class="purple-btn disabled:opacity-50 w-full" {% if not request.session.cartdata %} disabled {% endif %}>
          <i class="fas fa-shopping-cart"></i>
          <span>Complete purchase</span>
        </button>
      </div>

    </form>
  </div>

  <!-- Shopping cart -->
  <div class="bg-white landscapetablet:bg-green-800 landscapetablet:text-gray-100 rounded-t-lg landscapetablet:rounded-r-lg landscapetablet:rounded-t-none p-6 pb-0 landscapetablet:pb-6" >
    <p class="title-h1 landscapetablet:text-gray-100 text-2xl">Shopping Cart</p>

    <div class="checkout-summary text-xs tablet:text-base">
      <!-- Cart items -->
      <div class="cart-items landscapetablet:overflow-y-auto">
        {% for id, item in request.session.cartdata.items %}
          <div id="cart-{{id}}" class="checkout-cart-layout py-2 landscapetablet:py-3">
            <a href="/home/browse/product/{{ id }}">
              <span class="px-2 my-auto">{{ item.name }}</span>
            </a>
            <span id="cart-qty-{{id}}" class="my-auto">x{{ item.qty }}</span>
            <span id="cart-price-{{id}}" class="my-auto justify-self-end px-2">${{ item.total }}</span>
          </div>
        {% endfor %}
      </div>

      <!-- Cart total -->
      <div class="checkout-cart-layout font-semibold  checkout-total">
        {% if request.session.totalprice > 0 %}
          <span class="col-span-2 pl-2">Total: </span><span class="price justify-self-end px-2">${{ request.session.totalprice }}</span>
        {% else %}
          Your cart is empty.
        {% endif %}
      </div>
      
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
  <script src="{% static 'js/checkout.js' %}"></script>
{% endblock javascript %}
