{% extends "base.html" %}

{% block title %}Checkout{% endblock title %}

{% block content %}
<div class="mx-auto mt-8 flex w-9/12">

  <!-- Order Form -->
  <div class="bg-white rounded p-6 mr-2">
    <p class="title-h1 mb-4">Order details</p>

    <form class="user-form">
      {% csrf_token %}
      
     <p class="font-semibold">1 Customer info</p>
      <div class="mx-4">
        <label for="{{ form.user_info_order_form.id_for_label }}">First name</label>
        {{user_info_order_form.first_name}}

        <label for="{{ form.user_info_order_form.id_for_label }}">Last name</label>
        {{user_info_order_form.last_name}}

        <label for="{{ form.user_info_order_form.id_for_label }}">Email</label>
        {{user_info_order_form.email}}

        <label for="{{ form.user_info_order_form.id_for_label }}">Mobile</label>
        {{customer_info_order_form.mobile}}
      </div>


      <p class="font-semibold">2 Delivery info</p>

      <div class="mx-4">
        <label for="{{ form.user_info_order_form.id_for_label }}">Country</label>
        {{customer_info_order_form.country}}

        <label for="{{ form.user_info_order_form.id_for_label }}">City</label>
        {{customer_info_order_form.city}}

        <label for="{{ form.user_info_order_form.id_for_label }}">Address</label>
        {{customer_info_order_form.address}}
      </div>

      <p class="font-semibold">3 Payment info</p>
      <div class="mx-4">

        <label for="{{ form.user_info_order_form.id_for_label }}">Country</label>
        {{customer_info_order_form.country}}

        <label for="{{ form.user_info_order_form.id_for_label }}">City</label>
        {{customer_info_order_form.city}}

        <label for="{{ form.user_info_order_form.id_for_label }}">Address</label>
        {{customer_info_order_form.address}}
      </div>

    </form>
  </div>

  <!-- Shopping cart -->
  <div class="bg-white rounded p-6">

    <p class="title-h1 text-2xl">Shopping Cart</p>

    {% include "products/cart.html" %}

  </div>
</div>
{% endblock content %}
