{% extends "base.html" %}
{% load myfilters %}
{% block title %}Checkout{% endblock title %}

{% block content %}
<div class="grid bg-white min-w-full h-16 items-center drop-shadow-lg">
  <div class="grid grid-cols-4 auto-cols-min w-6/12 m-auto">
    <div class="step">
      <div class="step-indicator">
        1
      </div>
      <span>Personal Details</span>
    </div>
    <div class="step">
      <div class="step-indicator">
        2
      </div>
      <span>Shipping</span>
    </div>
    <div class="step">
      <div class="step-indicator">
        3
      </div>
      <span>Payment</span>
    </div>
    <div class="step">
      <div class="step-indicator">
        4
      </div>
      <span>Summary</span>
    </div>
  </div>
</div>
<div class="grid grid-cols-6 w-full mt-8">
  <div class="col-span-4 w-10/12 ml-auto bg-white rounded p-6 mr-2">
    <p class="title-h1">Shopping Cart</p>
    {% if request.session.cartdata %}
    <table class="table-fixed w-full">
      <thead class="border-b text-left">
        <tr>
          <th class="w-8/12 py-2 pl-4">Product</th>
          <th class="w-4/12 py-2">Quantity</th>
          <th class="w-4/12 py-2">Total Price</th>
          <th class="w-1/12 py-2"></th>
        </tr>
      </thead>
      <tbody class="border-b">
        {% for key, value in request.session.cartdata.items %}
        <tr>
          <td class="mx-auto">
            <a href="/home/browse/product/{{key}}">
              <img src="{{ value.img_url }}" class="w-28 inline-block" />
              <span> {{ value.name }} </span>
            </a>
          </td>
          <td><span>x{{ value.qty }}</span></td>
          <td><span>${{ value.total|floatformat:2 }}</span></td>
          <td><button class="remove-btn">X</button></td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    <div class="flex justify-between mt-4">
      <a href="{% url 'products:browse' %}" class="purple-btn flex-grow-0">Continue shopping</a>
      <div class="text-xl font-semibold text-right inline-block">Total: ${{request.session.totalprice}}</div>
    </div>
    {% comment %} <div class="purple-btn text-center">Checkout</div> {% endcomment %}
    {% else %}
    <span>Cart is empty.</span>
    {% endif %}
  </div>
  <div class="bg-white rounded w-8/12 p-6 col-span-2">
    <p class="title-h1">Payment info</p>
  </div>
</div>
<!-- <div>
    <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

    </form>
  </div> -->
{% endblock content %}
