{% extends "base.html" %}
{% load products.productfilters %}
{% load static %}
{% block title %}{{ product.name }}{% endblock title %}

{% block content %}
<div class="grid bg-white m-3 rounded-lg w-9/12 self-center">
  <div class="bg-purple-500 text-white px-6 p-3 rounded-t-lg">
    {% for category in categories reversed %}
      <a>{{category}}</a>
      {% if not category == product.name %}
         >
      {% endif %}
    {% endfor %}
  </div>
  <div class="grid grid-cols-2 mt-4">
    <img src="{{ product.image.url|formaturl }}" alt="product-{{product.id}}" class="self-center justify-self-center min-w-64 max-h-96"/>
    <div class="grid grid-rows-4 text-lg">
      <div class="title-h1 text-5xl font-semibold mb-2 self-center">{{ product.name }}</div>
      <div>
        <span title="4.82 out of 5 stars" class="text-yellow-300">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </span>
        (20 reviews)
      </div>
      <div class="text-2xl">${{ product.price }}</div>
      <button class="purple-btn w-6/12">Add to cart</button>
    </div>
  </div>

  <div class="mt-4">
    <div class="bg-purple-500 text-white text-lg p-2">
      <a href="#" class="mx-6 font-semibold">Description</a>
      <a href="#" class="mx-6">Reviews</a>
    </div>
    <div class="px-8 mt-2">
      <div class="text-gray-600 mb-3">{{ product.description }}</div>
    </div>
  </div>



</div>
{% endblock content %}
