{% extends "base.html" %}
{% load products.productfilters %}
{% load static %}
{% block title %}{{ product.name }}{% endblock title %}

{% block content %}
<div class="grid mt-2 w-11/12 desktop:w-9/12 landscapetablet:w-10/12 text-xs phone:text-sm tablet:text-base mx-auto">
  <div class="background-color text-white px-6 py-3 rounded-t-lg">
    {% for category in categories reversed %}
      <a>{{ category }}</a>
      {% if not category == product.name %}
         >
      {% endif %}
    {% endfor %}
  </div>

  <!-- Mobile layout -->
  <div id="product-{{ product.id }}" class="flex flex-col tablet:hidden bg-white p-3">
    <img src="{{ product.image.url }}" class="flex h-48 justify-center self-center"/>
    <p class="title-h1">${{ product.price }}</p>
    <div class="text-color text-lg font-semibold mb-2">
      <p class="h-6 truncate">{{ product.name }}</p>
        <span class="text-xs">
        {% with rating=product.get_avg_rating %}
          {% include "products/ratingTemplate.html" %}
        {% endwith %}
        </span>
        <span class="text-black text-xs font-normal">({{ product.review_set.count }} reviews)</span>
    </div>

    <button id="{{ product.id }}" onClick="addProduct(this.id)" class="purple-btn mb-2">
      <i class="fas fa-shopping-cart"></i>
      <span class="ml-1 text-base">Add to cart</span>
    </button>
  </div>


  <!-- Tablet and desktop layout -->
  <div class="hidden tablet:grid justify-center tablet:grid-cols-2 py-2 w-full bg-white rounded-b-lg px-2">
    <img src="{{ product.image.url }}" class="mx-auto min-w-32 max-h-60 tablet:max-h-52"/>

    <div class="grid grid-rows-4 text-lg px-2 w-full">
      <p class="title-h1 text-2xl laptop:text-3xl  font-semibold">{{ product.name }}</p>

      <div>
        {% with rating=product.get_avg_rating %}
          {% include "products/ratingTemplate.html" %}
        {% endwith %}
        ({{ product.review_set.count }} reviews)
      </div>

      <p class="text-xl self-start">${{ product.price }}</p>

      <button id="{{ product.id }}" onClick="addProduct(this.id)" class="purple-btn w-full laptop:w-6/12 tablet:w-11/12 tablet:mx-0 mx-auto">
        <i class="fas fa-shopping-cart"></i>
        <span class="ml-1">Add to cart</span>
      </button>

    </div>
  </div>

  {% if request.GET.p == 'reviews' %}

  <div class="mb-4 bg-white rounded-b-lg">
    <div class="background-color text-white tablet:text-lg p-2">
      <a href="{% url 'products:details' product.id %}" class="mx-6" >Description</a>
      <a class="mx-6 font-semibold">Reviews</a>
    </div>

    <div class="px-6 tablet:px-8 mt-2">

      <div class="flex flex-col landscapetablet:flex-row">

        <div class="w-full mb-4">
          <p class="title-h1">Reviews by ratings</p>

          <div class="w-full tablet:text-base text-xs {% if not request.user.is_authenticated %} tablet:w-6/12 {% endif %}">
          {% for i in '54321'|make_list %}
            <div>
              <span class="inline-block">{{i}} <i class="fas fa-star text-xs text-yellow-300"></i></span>
              <div class="secondary-bg-color h-5 w-9/12 tablet:w-6/12 inline-block align-middle	">
                <div style="width: {% get_percentage product.get_review_count_by_value i product.get_review_count %}%" class="background-color h-5 align-middle	"/>
              </div>
              <span class="inline-block">{% get_percentage product.get_review_count_by_value i product.get_review_count %}%</span>
            </div>
            
          {% endfor %}
          </div>

        </div>

        {% if request.user.is_authenticated %}
          <div class="w-full mx-auto my-auto ">
            <p class="title-h1">Write a review</p>

            <form method="POST" action="{% url 'products:rate-product' %}">
              {% csrf_token %}
              <div>
                <span>Your rating: </span>
                <span class="rate text-yellow-300 cursor-pointer">
                  <i
                    id="star-1"
                    onClick="setRating(this.id)"
                    class="far fa-star"
                  ></i>
                  <i
                    id="star-2"
                    onClick="setRating(this.id)"
                    class="far fa-star"
                  ></i>
                  <i
                    id="star-3"
                    onClick="setRating(this.id)"
                    class="far fa-star"
                  ></i>
                  <i
                    id="star-4"
                    onClick="setRating(this.id)"
                    class="far fa-star"
                  ></i>
                  <i
                    id="star-5"
                    onClick="setRating(this.id)"
                    class="far fa-star"
                  ></i>
                </span>

                <input name="rating" class="hidden" oninvalid="alert('Choose a rating')" required/>
                <input name="product-id" type="hidden" value="{{ product.id }}"
              </div>
              <textarea
                name="comment"
                class="flex border-2 rounded-lg p-2 my-2 focus:outline-none w-full h-32"
                placeholder="Write about the product in detail (optional, max 1000 characters)"
                maxlength="1000"
              />
              {% for message in messages %}
                <p class="{{ message.tags }}">{{ message }}</p>
              {% endfor %}
              <input type="submit" class="purple-btn cursor-pointer w-full tablet:w-auto text-base" />
            </form>
          </div>
        {% endif %}
      </div>


      <div class="mt-4 rounded-lg">
        <p class="title-h1">Reviews</p>
        {% for review in product.review_set.all reversed %}
          <div class="mb-4">
            <div class="border rounded-lg">
              <div class="background-color text-white rounded-t-lg py-1 px-3">
                <i class="fas fa-user"></i>
                <span class="font-semibold ml-1">{{ review.customer.user.username }}</span>
              </div>
            <div class="px-2 py-1">
            {% with rating=review.value %}
              {% include "products/ratingTemplate.html" %}
            {% endwith %}
            </div>
            {% if review.comment %}
              <div class="px-2 pb-2">{{ review.comment }}</div>
            {% endif %}
            </div>
          </div>
        {% empty %}
          <p class="mb-4">This product does not have any reviews yet.</p>
        {% endfor %}
      </div>
    </div>


  </div>

  {% else %}
    <div class="bg-white rounded-b-lg">
      <div class="background-color text-white tablet:text-lg p-2">
        <a class="mx-6 font-semibold">Description</a>
        <a href="{% url 'products:details' product.id %}?p=reviews" class="mx-6">Reviews</a>
      </div>

      <div class="px-8 mt-2">
        <div class="text-gray-600 mb-3 text-xs tablet:text-sm laptop:text-base">{{ product.description }}</div>
      </div>
    </div>
  {% endif %}

</div>
{% endblock content %}

{% block javascript %}
  <script src="{% static 'js/review.js' %}"></script>
{% endblock javascript %}
