{% extends "base.html" %}
{% load products.productfilters %}
{% load static %}
{% block title %}{{ product.name }}{% endblock title %}

{% block content %}
<div class="grid mt-2 w-9/12 mx-auto">
  <div class="background-color text-white px-6 py-3 rounded-t-lg">
    {% for category in categories reversed %}
      <a>{{ category }}</a>
      {% if not category == product.name %}
         >
      {% endif %}
    {% endfor %}
  </div>

  <div class="grid grid-cols-2 py-4 bg-white rounded-b-lg">
    <img src="{{ product.image.url|formaturl }}" class="mx-auto min-w-32 max-h-52"/>

    <div class="grid grid-rows-4 text-lg">
      <p class="title-h1 text-4xl font-semibold">{{ product.name }}</p>

      <div>
        {% with rating=product.get_avg_rating %}
          {% include "products/ratingTemplate.html" %}
        {% endwith %}
        ({{ product.review_set.count }} reviews)
      </div>

      <p class="text-2xl -mt-2">${{ product.price }}</p>

      <input
        type="hidden"
        id="{{ product.id }}-name"
        value="{{ product.name }}"
      />
      <input
        type="hidden"
        id="{{ product.id }}-img-url"
        value="{{ product.image.url|formaturl }}"
      />
      <input
        type="hidden"
        id="{{ product.id }}-price"
        value="{{ product.price }}"
      />

      <button id="{{ product.id }}" onClick="addProduct(this.id)" class="purple-btn w-6/12">
        <i class="fas fa-shopping-cart"></i>
        <span class="ml-1">Add to cart</span>
      </button>

    </div>
  </div>

  {% if request.GET.p == 'reviews' %}

  <div class="mb-4 bg-white rounded-b-lg">
    <div class="background-color text-white text-lg p-2">
      <a href="{% url 'products:details' product.id %}" class="mx-6" >Description</a>
      <a class="mx-6 font-semibold">Reviews</a>
    </div>

    <div class="px-8 mt-2">
      <div class="grid grid-cols-2">
        <div>
          <p class="title-h1">Reviews by ratings</p>
          <table class="table-fixed">
          {% for i in '54321'|make_list %}
            <tr>
              <td>
                <span class="text-xs">
                  {% with rating=i %}
                    {% include "products/ratingTemplate.html" %}
                  {% endwith %}
                </span>
              </td>
              <td>
                <div class="secondary-bg-color h-5 w-64">
                  <div style="width: {% keyvalue product.get_review_count_by_value i product.get_review_count %}%" class="background-color h-5"></div>
                </div>
              </td>
              <td>{% keyvalue product.get_review_count_by_value i product.get_review_count %}%</td>
            </tr>
          {% endfor %}
          </table>
        </div>
        <div>
          {% if request.user.is_authenticated %}
          <p class="title-h1">Write a review</p>
          <form method="POST" action="{% url 'products:rate-product' %}">
            {% csrf_token %}
            <div>
              <span>Your rating: </span>
              <div class="rate text-yellow-300 cursor-pointer">
                <i
                  id="star-1"
                  onClick="setRating(this.id)"
                  class="far fa-star"
                ></i>
                <i
                  id="star-2"
                  onClick="setRating(this.id)"
                  class="far fa-star"
                ></i>
                <i
                  id="star-3"
                  onClick="setRating(this.id)"
                  class="far fa-star"
                ></i>
                <i
                  id="star-4"
                  onClick="setRating(this.id)"
                  class="far fa-star"
                ></i>
                <i
                  id="star-5"
                  onClick="setRating(this.id)"
                  class="far fa-star"
                ></i>
              </div>
              <input name="rating" class="hidden" oninvalid="alert('Choose a rating')" required/>
              <input name="product-id" type="hidden" value="{{ product.id }}"
            </div>
            <textarea
              rows="4"
              cols="50"
              name="comment"
              class="flex border-2 rounded-lg p-2 focus:outline-none"
              placeholder="Write about the product in detail (optional)"
            />
            <input type="submit" class="purple-btn cursor-pointer" />
          </form>
          {% endif %}
        </div>
      </div>
      <div class="mt-4 rounded-lg pb-4">
        <p class="title-h1">Reviews</p>
        {% for review in product.review_set.all %}
          <div class="mb-4">
            <div class="border rounded-lg">
              <div class="background-color text-white rounded-t-lg p-1 px-2"><i class="fas fa-user"></i><span class="font-semibold ml-1">{{ review.customer.user.username }}</span></div>
            <span class="px-2">
            {% with rating=review.value %}
              {% include "products/ratingTemplate.html" %}
            {% endwith %}
            </span>
            <div class="p-2 pt-0">{{ review.comment }}</div>
            </div>
          </div>
        {% empty %}
          <p>This product does not have any reviews yet.</p>
        {% endfor %}
      </div>
    </div>
  </div>

  {% else %}
    <div class="bg-white rounded-b-lg">
      <div class="background-color text-white text-lg p-2">
        <a class="mx-6 font-semibold">Description</a>
        <a href="{% url 'products:details' product.id %}?p=reviews" class="mx-6">Reviews</a>
      </div>

      <div class="px-8 mt-2">
        <div class="text-gray-600 mb-3">{{ product.description }}</div>
      </div>
    </div>
  {% endif %}

</div>
{% endblock content %}

{% block javascript %}
  <script src="{% static 'js/review.js' %}"></script>
{% endblock javascript %}
