{% extends "base.html" %}
{% load myfilters %}
{% block title %}Home{% endblock title %}
{% block content %}

<div class="flex min-h-screen bg-purple-200" style="min-height: calc(100vh - (153px));">
    <div class="flex flex-col justify-center w-3/6">
      <p class="text-7xl text-purple-500 font-semibold">PyCommercial</p>
      <form class="w-full">
        <input
        type="text"
        placeholder="Search for products..."
        class="
          py-2
          px-4
          w-full
          rounded-lg
          focus:outline-none focus:ring focus:ring-purple-400
        "
        />
      </form>
    
      <p>...or start browsing by popular categories:</p>
      <div class="text-purple-600">
        <a href="#" class="underline mx-2">PC and laptop</a>
        <a href="#" class="underline mr-2">Mobile phones</a>
        <a href="#" class="underline mr-2">Fashion</a>
        <a href="#" class="underline mr-2">DIY</a>
        <a href="#" class="underline mr-2">Home appliances</a>
      </div>

  </div>
</div>
{% endblock content %}
