{% extends "base.html" %} {% load static %} {% load products.productfilters %}
{% block title %}Home{% endblock title %} {% block content %}
<div class="flex min-h-screen bg-purple-200 justify-center">
  <div>
    <form
      method="GET"
      action="{% url 'products:browse' %}"
      class="w-8/12 mx-auto my-4"
    >
      <div>
        <i class="fas fa-search absolute mt-3 ml-3 text-purple-700"></i>
        <input
          type="text"
          name="search"
          placeholder="Search for products..."
          class="
            py-2
            px-9
            w-full
            rounded-lg
            focus:outline-none focus:ring focus:ring-purple-400
          "
        />
      </div>
    </form>

    <div id="category-selector">
      {% for category, params in data.items %}
      <a
        href="{% url 'products:browse' %}?{% for param in params %}{{param.name|encode_url}}=on&{% endfor %}"
        >{{category}}</a
      >
      {% endfor %}
    </div>

    <div class="h-96 w-full" style='background-image: url("../../static/homepage/homepage1.jpg");  background-position: center;'></div>

    <p class="title-h1 text-2xl">Best selling products</p>

    <div class="flex flex-cols">
      {% for product in best_products %}
      <div
        id="product-{{ product.id }}"
        class="flex flex-col bg-white m-3 rounded-lg p-3 slides"
      >
        <a
          href="{% url 'products:details' product.id %}"
          class="flex h-48 justify-center"
        >
          <img
            src="{{ product.image.url|formaturl }}"
            alt="img-{{product.id}}"
            class="max-h-48 self-center justify-self-center"
          />
        </a>
        <div class="title-h1">${{ product.price }}</div>
        <div class="text-purple-500 text-lg font-semibold mb-2">
          <a
            href="{% url 'products:details' product.id %}"
            class="block h-6 truncate"
            >{{ product.name }}</a
          >
          {% with product=product %}
          <span class="text-xs"
            >{% include "products/ratingTemplate.html" %}</span
          >
          {% endwith %}
        </div>
        <div class="text-xs text-gray-600 mb-3 h-12">
          {{ product.description|truncatetext:100 }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %} {% block javascript %}
<script src="{% static 'js/homePage.js' %}"></script>
{% endblock javascript %}
