{% load products.productfilters %}

<div class="grid grid-cols-5">
  {% for product in products %}
    <div
      id="product-{{ product.id }}"
      class="bg-white m-3 rounded-lg p-3">
      <a href="{% url 'products:details' product.id %}" class="flex justify-center h-48">
        <img src="{{ product.image.url|formaturl }}"/>
      </a>
      <p class="title-h1">${{ product.price }}</p>
      <a
        href="{% url 'products:details' product.id %}"
        class="block truncate text-purple-500 text-lg font-semibold"
        >{{ product.name }}</a>
   
      {% with rating=product.get_avg_rating %}
        <span class="text-xs">
          {% include "products/ratingTemplate.html" %}
        </span>
      {% endwith %}
    </div>
  {% endfor %}
</div>