{% extends "base.html" %}
{% load products.productfilters %}
{% load static %}
{% block title %}{{ product.name }}{% endblock title %}

{% block content %}
<div class="grid bg-white mt-2 rounded-lg w-9/12 mx-auto">
  <div class="bg-purple-500 text-white px-6 p-3 rounded-t-lg">
    {% for category in categories reversed %}
      <a>{{category}}</a>
      {% if not category == product.name %}
         >
      {% endif %}
    {% endfor %}
  </div>
  <div class="grid grid-cols-2 mt-4">
    <img src="{{ product.image.url|formaturl }}" alt="product-{{product.id}}" class="self-center justify-self-center min-w-64 max-h-96"/>
    <div class="grid grid-rows-4 text-lg">
      <div class="title-h1 text-5xl font-semibold mb-2 self-center">{{ product.name }}</div>
      <div>
        {% with product=product %}
          {% include "products/ratingTemplate.html" %}
        {% endwith %}
        ({{product.review_set.count}} reviews)
      </div>
      <div class="text-2xl">${{ product.price }}</div>

      <input
        type="hidden"
        id="{{product.id}}-name"
        value="{{product.name}}"
      />
      <input
        type="hidden"
        id="{{product.id}}-img-url"
        value="{{product.image.url|formaturl}}"
      />
      <input
        type="hidden"
        id="{{product.id}}-price"
        value="{{product.price}}"
      />

      <button id="{{ product.id }}" onClick="addProduct(this.id)" class="purple-btn w-6/12">
        <i class="fas fa-shopping-cart"></i>
        <span class="ml-1">Add to cart</span>
      </button>
    </div>
  </div>

  {% block subpage %}
  {% endblock subpage %}

</div>
{% endblock content %}

