{% extends "products/productDetails.html" %}
{% load static %}
{% load products.productfilters %}

{% block subpage %}
<div class="mt-4">
  <div class="bg-purple-500 text-white text-lg p-2">
    <a href="{% url 'products:product-description' product.id %}" class="mx-6"
      >Description</a
    >
    <a class="mx-6 font-semibold">Reviews</a>
  </div>
  <div class="px-8 mt-2">
    <div class="grid grid-cols-2">
      <div>
        <div class="title-h1">Reviews by ratings</div>
        <table class="table-fixed">
        {% for i in '54321'|make_list %}
          <tr>
             <td>
              <span class="text-yellow-300 text-xs">
                {% for star in i|encoderating %}
                {% if star == 1 %}
                  <i class="fas fa-star"></i>
                {% elif star == 0.5 %}
                  <i class="fas fa-star-half-alt"></i>
                {% else %}
                  <i class="far fa-star"></i>
                {% endif %}
              {% endfor %}
              </span>
            </td>
            <td>
              <div class="bg-purple-200 h-5 w-64">
                <div style="width: {% keyvalue product.get_review_count_by_value i product.get_review_count %}%" class="bg-purple-500 h-5"></div>
              </div>
            </td>
            <td>{% keyvalue product.get_review_count_by_value i product.get_review_count %}%</td>
          </tr>
        {%endfor %}
        </table>
      </div>
      <div>
        {% if request.user.is_authenticated %}
        <div class="title-h1">Write a review</div>
        <form method="POST" action="{% url 'products:rate-product' %}">
          {% csrf_token %}
          <div>
            <span>Your rating: </span>
            <div class="rate text-yellow-300 cursor-pointer">
              <i
                id="star-1"
                onClick="setRating(this.id)"
                class="far fa-star"
              ></i>
              <i
                id="star-2"
                onClick="setRating(this.id)"
                class="far fa-star"
              ></i>
              <i
                id="star-3"
                onClick="setRating(this.id)"
                class="far fa-star"
              ></i>
              <i
                id="star-4"
                onClick="setRating(this.id)"
                class="far fa-star"
              ></i>
              <i
                id="star-5"
                onClick="setRating(this.id)"
                class="far fa-star"
              ></i>
            </div>
            <input name="rating" required class="hidden" oninvalid="alert('Choose a rating')" />
            <input name="product-id" type="hidden" value="{{product.id}}"
          </div>
          <textarea
            rows="4"
            cols="50"
            name="comment"
            class="border-2 rounded-lg p-2 focus:outline-none"
            placeholder="Write about the product in detail (optional)"
          ></textarea
          ><br />
          <input type="submit" class="purple-btn cursor-pointer" />
        </form>
        {% endif %}
      </div>
    </div>
    <div class="mt-4 rounded-lg">
      <p class="title-h1">Reviews</p>
      {% for review in reviews %}
        <div class="mb-4">
          <div class="border rounded-lg">
            <div class="bg-purple-500 text-white rounded-t-lg p-1 px-2"><i class="fas fa-user"></i><span class="font-semibold ml-1">{{review.customer.user.username}}</span></div>
            <div class="text-yellow-300 mt-1 px-2">
              {% for star in review.value|encoderating %}
                {% if star == 1 %}
                  <i class="fas fa-star"></i>
                {% elif star == 0.5 %}
                  <i class="fas fa-star-half-alt"></i>
                {% else %}
                  <i class="far fa-star"></i>
                {% endif %}
              {% endfor %}
            </div>
          <div class="px-2 mt-1">{{review.comment}}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<script src="{% static 'js/review.js' %}"></script>
{% endblock subpage %}
